@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Roboto", sans-serif;
	}
	body {
		background: linear-gradient(rgba(47, 36, 99, 0.2), rgba(45, 25, 92, 0.774)),
			url("./assets/magicpattern-pattern-1679190320308.jpeg");
		background-size: cover;
		background-position: center top;
		height: 100vh;
	}

	.my-max {
		width: min(100% - 20px, 1200px);
		margin-inline: auto;
	}

	.skewed-border {
		transform-origin: top right;
	}
	.active {
		background-color: rgba(186, 182, 223, 0.747);

		color: black;
		transform: skew(-15deg);
		border-bottom-right-radius: 20px;
		transition: 0.3s ease;
		&:hover {
			background-color: rgba(171, 163, 241, 0.678);
			box-shadow: inset -1px 0px 8px -1px rgba(47, 16, 221, 0.952);
		}
	}
	.active2 {
		transform: skew(15deg);
		background-color: rgba(186, 182, 223, 0.747);
		border-bottom-left-radius: 20px;
		transition: 0.3s ease;
		color: black;
		&:hover {
			background-color: rgba(171, 163, 241, 0.678);
			box-shadow: inset -1px 0px 8px -1px rgba(47, 16, 221, 0.952);
		}
	}

	.my-max2 {
		width: min(100% - 20px, 680px);
		margin-inline: auto;
	}

	.my-select {
		background-color: red !important;
	}
}
