@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Roboto", sans-serif;
	}
	body {
		background: linear-gradient(rgba(47, 36, 99, 0.2), rgba(80, 5, 255, 0.288)),
			url("./assets/magicpattern-pattern-1679190320308.jpeg");
		background-size: cover;
		background-position: center top;
		min-height: 100vh;
		&::-webkit-scrollbar {
			display: none;
		}
		scroll-behavior: smooth;
	}

	.my-max {
		width: min(100% - 20px, 1200px);
		margin-inline: auto;
	}

	.skewed-border {
		transform-origin: top right;
	}

	.my-max2 {
		width: min(100% - 20px, 680px);
		margin-inline: auto;
	}
	.my-max3 {
		width: min(100% - 20px, 780px);
		margin-inline: auto;
	}

	.my-scrollbar {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.my-shadow {
		box-shadow: inset 0px 0px 70px -10px rgb(47, 16, 221);
	}
}
